@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  scroll-behavior: smooth;
  scroll-margin-top: 5rem;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--background-color);
}

hr {
  height: 10px;
  border: none;
  background-color: var(--background-color);
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.buypage.active,
.homepage.active,
.finalpage.active,
.nav__homepage.active,
.nav__buyform.active {
  display: block;
}

.homepage,
.buypage {
  margin-top: 5rem;
}
